
<a class="btn" href="{{url_for('download')}}"><i class="iconoir-download-square" style="font-size: 2em;"></i></a>

   <!--Display the responseData in the HTML -->

  <div class="mockup-code">
        {%for i in syslog%}   
            <pre
            data-prefix="{{loop.index}}"
            
            {% if 'warn' in i %}
            class="bg-yellow-900"
            {% endif %}
            {% if 'err' in i %}
            class="bg-red-900"
            {% endif %}

            >{{ i }}</pre>
        {%endfor%} 
  </div>